<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table creation</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="tableclass">
       
   <center>
    <caption>student details</caption> <table>
        <tr>
            <th>student id</th>
            <th>student name</th>
            <th>address</th>
            <th>class</th>
            <th>roll no</th>
            
        </tr>
        <tr>
            <td rowspan="2">23</td>
            <td>amit</td>
            <td>xyz</td>
            <td>10b</td>
            <td>23</td>
        </tr>
        <tr>
            <td colspan="4">22</td>
            <td>abnv</td>
            <td>xyz</td>
            <td>10c</td>
            <td>11</td>
        </tr>
        <tr>
            <td>43</td>
            <td>vaishnav</td>
            <td>xyz</td>
            <td>10a</td>
            <td>22</td>
        </tr>
        <tr>
            <td>13</td>
            <td>jerin</td>
            <td>xyz</td>
            <td>12b</td>
            <td>44</td>
        </tr>
        <tr>
            <td>66</td>
            <td>hari</td>
            <td>xyz</td>
            <td>9h</td>
            <td>55</td>
        </tr>
    </table>
   
    </center>
    </div>
</body>
</html>